<html>
    <head></head>
    <style>
      table{
        margin-top: 50px;
        width: 50%;
        border: 1px solid black;
        padding : 15px;
        font-size: 20px;
        background-color: antiquewhite;
      }
    </style>
    <body>
<center>
        <table>
          <tr>
            <td>
        Relationship : <%- dropDownStringArr.relationship %><br><br>
        
        Course : <%- dropDownStringArr.course %><br><br>
        Technology : <%- dropDownStringArr.technology %><br><br>
        University : <%- dropDownStringArr.university %><br><br>
        Location : <%- dropDownStringArr.location %><br><br>
        Language : <%- dropDownStringArr.language %><br><br>
        Gender : <%- dropDownStringArr.gender %><br><br>
        Result : <%- dropDownStringArr.result %><br><br>
      </td>
      </tr>
      </table>
    </center>

          </body>
</html>