<html>
    <head></head>
    <h2 style="text-align: center;">Job Application Form</h2>
    <style>
        
        .container
        {
            flex-direction: row;
        }

        table{
            background-color: aliceblue;
            border-spacing : 15px;  
            font-size: 18px;
            color: darkslateblue;
            border-color: cornflowerblue;
        }
        .span1{
            color:red;
        }
        fieldset {
        background-color: aliceblue;
        display: block;
        margin-left: 30px;
        margin-right: 30px;
        padding-top: 0.35em;
        padding-bottom: 0.625em;
        padding-left: 0.75em;
        padding-right: 0.75em;
        border: 2px groove (internal value);
        }
    </style>
   
    <body bgcolor="#F9EEF7" >
        <form id="jobform" name="myForm" method="post"   action="/job" >
        
            <fieldset style="padding: 10; margin-top: 10px; border-radius: 5px; border: 2px solid rgb(22, 98, 111); ">
                <legend style="border: 2px solid rgb(22, 98, 111); color: rgb(7, 74, 52); background-color: rgb(250, 251, 253);font-size: 20px;margin-left: 15px;"><b>Basic Details</b></legend>
                    <table>
                        <tr>
                            <td><b> First name *<b></td>
                           <td><input  type="text" name="first_name" id="first_name"  onchange="return fnameValidate()" /><span class="span1" id="fname-error"></span></td>
                          
                            
                           <td><b>Last name *</b></td>
                           <td><input type="text"  name="lname" id="last_name"/><span class="span1" id="lname-error"></span></td>
                          
                        </tr>
                       
                        <tr>
                            <td><b> Designation *<b></td>
                           <td><input  type="text" name="designation" id="designation" />
                            <span class="span1" id="designation-error"></span></td>
                            
                           <td><b>Address1*</b></td>
                           <td><input  type="text" id="add1"  name="add1"/>
                            <span class="span1" id="add1-error"></span></td>
                        
                        </tr>
                        <tr>
                            <td><b> Email *<b></td>
                           <td><input  type="text" name="email" id="email" />
                            <span class="span1" id="email-error"></span></td>
                            
                           <td><b>Address2*</b></td>
                           <td><input  type="text" name="add2" id="add2" />
                            <span class="span1" id="add2-error"></span></td>
                        
                        </tr>
                        <tr>
                            <td><b> Phone Number *<b></td>
                           <td><input  type="text" name="contact" id="contact" onchange="validateContact()"/>
                           <span class="span1" id="contact-error"></span></td>

                           <td><b>State<b></td>
                            <td><select name="state" id="state" onchange="getcity(this)"> 
                                <% for(let i=0; i<data['state'].length; i++){ %>
                                <option value="<%=data['state'][i]['state_id']%>">
                                    <%=data['state'][i]['state_name']%>
                                </option>
                               <% } %>
                            </select></td>
                          
                          
                        </tr>
                        <tr>
                            <td><b>Gender<b></td>
                            <td><input type="radio" id="Male" name="gender" value="Male">Male                       
                            <input type="radio" id="Female" name="gender" value="Female">Female
                            <input type="radio" id="others" name="gender" value="Others">Others<b></td>
                                <td><b>City<b></td>
                                    <td>    
            
                                        <select name="city" id="selectcity"></select>
                                    </td>
                        
                        </tr>

                        <tr>
    
                            
                           <td><b>Relationship Status<b></td>
                            <td><select name="relationship" id="relationship" >
                                
                                <% for(let i=0; i<data['relationship'].length; i++){ %>
                                    
                                    <option value="<%=data['relationship'][i]['option_name']%>">
                                        <%=data['relationship'][i]['option_name']%>
                                    </option>
                                   <% } %>
                            </select></td>

                            <td><b>Zip Code<b></td>
                                <td><input  type="text" id="zip" name="zip" onclick="validateZip()"/><span class="span1" id="zip-error"></span></td>
                            
                        </tr>
                        <tr>
                            <td><b>Date Of Birth*</b></td>
                            <td><input  type="date" name="dob" id="dob" /><span class="span1" id="date-error"></span></td>
                        </tr>
                </table>
                </fieldset>

                <fieldset style="padding: 10; margin-top: 30px; border-radius: 5px;border: 2px solid rgb(22, 98, 111);">
                    <legend  style="border: 2px solid rgb(22, 98, 111);background-color: rgb(250, 251, 253);font-size: 20px;margin-left: 15px;"><b>Education Details</b></legend>
                        <table id="education_details">
                            
                            <tr>  
                               <td><b>Course Name<b></td>
                                <td><b><select name="course" id="course">
                                    <% for(let i=0; i<data['course'].length; i++){ %>
                                        <option value="<%=data['course'][i]['option_name']%>">
                                            <%=data['course'][i]['option_name']%>
                                        </option>
                                       <% } %>
                                   
                                </select><b></td>

                                <td><b>University/Board<b></td>
                                <td><input  type="text" name="uni" id="uni" /></td>

                                <td><b>Passing year<b></td>
                                <td><input  type="text"  name="pass" id="pass"/></td>
                            
                                <td><b>Percentage<b></td>
                                <td><input  type="text" name="per" id="per" /></td>
                               
                                <td><input  type="button" value="+" onclick="priya()" /><b></td>
                            
                            </tr>
                           
                    </table>
                    <p id="p1"></p>
                    </fieldset>


                    <fieldset style="padding: 10; margin-top: 30px; border-radius: 5px; border: 2px solid rgb(22, 98, 111);">
                        <legend  style="border: 2px solid rgb(22, 98, 111);background-color: rgb(250, 251, 253);font-size: 20px;margin-left: 15px;"><b>Work Experience<b></legend>
                            <table id="experience" >
                                <tr> <td><b>Company Name<b></td> 
                                    <td><input  type="text" name="company" /></td>
                                     <td><b>Designation<b></td> <td><input  type="text" name="designation_1"  /></td> <td><b>From date*</b></td> 
                                     <td><input  type="date" name="fdate" /></td>
                                      <td><b>To date*</b></td> 
                                      <td><input  type="date" name="tdate" /></td> <td><input  type="button" value="+" onclick="priya1()" /><b></td>
                                </tr>
                        
                        </table>
                        <p id="p2"></p>
                        </fieldset>
                       
                        <fieldset style="padding: 10; margin-top: 30px;border-radius: 5px; border: 2px solid rgb(22, 98, 111);" >
                            <legend  style="border: 2px solid rgb(22, 98, 111);background-color: rgb(250, 251, 253);font-size: 20px;margin-left: 15px;"><b>Language Known</b></legend>
                                <table id="lang">
                                    <% for(let i=0; i<data['language'].length; i++){ %>
                                    <tr>
                                      
                                    <td><b>
                                            <input type="checkbox" name="languageknown" value="<%=data['language'][i]['option_name']%>">
                                            <%=data['language'][i]['option_name']%>
                                            <input type="checkbox" name="read" value="<%=data['language'][i]['option_name']%>">Read
                                            <input type="checkbox" name="write"  value="<%=data['language'][i]['option_name']%>">write
                                            <input type="checkbox" name="speak"  value="<%=data['language'][i]['option_name']%>">speak
                                           <% } %>
                                   </td>
                                
                                    </tr>
                                   
                            </table>
                            <p id="p3"></p>
                            </fieldset>

                            <fieldset style="padding: 10; margin-top: 30px;border-radius: 5px; border: 2px solid rgb(22, 98, 111);" >
                            <legend  style="border: 2px solid rgb(22, 98, 111);background-color: rgb(250, 251, 253);font-size: 20px;margin-left: 15px;"><b>Technologies you know</b></legend>
                                <table id="languages" >
                                    <% for(let i=0; i<data['technology'].length; i++){ %>
                                    <tr>
                                        <td>
                                                <input type="checkbox" name="technology1" value="<%=data['technology'][i]['option_name']%>">
                                                    <%=data['technology'][i]['option_name']%>
                                               
                                               
                                        </td>
                                        <td></n><input type="radio" id="Beginer" name="<%=data['technology'][i]['option_name']%>" value="beginer">  Beginer                   
                                        <input type="radio" id="mediator" name="<%=data['technology'][i]['option_name']%>" value="mediator">mediator
                                        <input type="radio" id="Expert" name="<%=data['technology'][i]['option_name']%>" value="expert">Expert<b></td>
                                          
                                                <% } %>
                                            </td>
                                    
                                    </tr>
                                   
                            </table>
                            <p id="p4"></p>
                            </fieldset>

                            <fieldset style="padding: 10; margin-top: 30px;border-radius: 5px; border: 2px solid rgb(22, 98, 111);">
                                <legend  style="border: 2px solid rgb(22, 98, 111);background-color: rgb(250, 251, 253);font-size: 20px;margin-left: 15px;"><b>Reference Contact</b></legend>
                                    <table >
                                        
                                        <tr>
                                           <td><b>  Name <b></td>
                                           <td><input  type="text"  name="name"/></td>
                                            
                                           <td><b>Contact number </b></td>
                                           <td><input type="text" name="phone"  /></td>
                                        
                                           <td><b>Relation </b></td>
                                           <td><input type="text" name="relation_1" /></td>
                                        
                                        </tr>
                                       
                                        <tr>
                                            <td><b>  Name <b></td>
                                           <td><input  type="text" name="name1"  /></td>
                                            
                                           <td><b>Contact number </b></td>
                                           <td><input type="text" name="phone1" /></td>
                                        
                                           <td><b>Relation </b></td>
                                           <td><input type="text"  name="relation_2"/></td>
                                        
                                        </tr>
                                       
                                </table>
                                </fieldset>
                        </div>
                                <fieldset style="padding: 10; margin-top: 30px;border-radius: 5px; border: 2px solid rgb(22, 98, 111);">
                                    <legend  style="border: 2px solid rgb(22, 98, 111);background-color: rgb(250, 251, 253);font-size: 20px;margin-left: 15px;"><b>Preferences</b></legend>
                                        <table >
                                            
                                            <tr>
                                                <td><b>Prefered Location<b></td>
                                                <td><select name="location" id="location">
                                                    <% for(let i=0; i<data['pref_location'].length; i++){%>
                                                        <option value="<%=data['pref_location'][i]['option_name'] %>">
                                                            <%=data['pref_location'][i]['option_name'] %>
                                                        </option>
                                                        <%}%>
                                                   
                                                </select></td>
                                                
                                               <td><b>Notice Period *</b></td>
                                               <td><input type="text"  name="notice"/><b></td>
                                            
                                               <td><b>Department<b></td>
                                               <td><select name="department" id="department">
                                                <% for(let i=0; i<data['department'].length; i++){ %>
                                                    <option value="<%=data['department'][i]['option_name']%>">
                                                        <%=data['department'][i]['option_name']%>
                                                    </option>
                                                   <% } %>
                                               </select></td>
                                            </tr>
                                            <tr>                                             
                                               <td><b>Expected ctc *</b></td>
                                               <td><input type="text" name="expected"  /></td>
                                            </tr>
                                            <tr>
                                               <td><b>current ctc *</b></td>
                                               <td><input type="text"  name="current" /></td>
                                            
                                            </tr>
                                           
                                    </table>
                                    </fieldset>

       <input type="submit" onclick="return test()" style="margin-left: 600;margin-right: 300;margin-top: 10px;background-color: aquamarine;padding: 10;font-size: 20;border-radius: 5px;">

       <!-- <input type="" style="margin-left: 600;margin-right: 300;margin-top: 10px;background-color: aquamarine;padding: 10;font-size: 20;border-radius: 5px;"> -->

    </body>

    <script>
    function test(){
       console.log("calling..")
       var first_name = document.getElementById('first_name').value;
       var last_name = document.getElementById('last_name').value;
       var designation = document.getElementById('designation').value;
       var add1 = document.getElementById('add1').value;
       var add2 = document.getElementById('add2').value;
       var email = document.getElementById('email').value;
       var contact = document.getElementById('contact').value;
       var zip = document.getElementById('zip').value;

       console.log(first_name,"fnameeeee");
       console.log(last_name,"Lnameeeee");
    
       var isvalidate = true;

       if(first_name == null || first_name == "")
       {
        
           document.getElementById('fname-error').innerHTML="*Please enter firstname";
           isvalidate = false;
       }
       else if(!isNaN(first_name))
       {
            document.getElementById('fname-error').innerHTML="Please enter valid first name";
            isvalidate = false;
       }
       else{
           document.getElementById('fname-error').innerHTML="";
       }

       if(contact == null || contact == "")
       {
        
           document.getElementById('contact-error').innerHTML="*Please enter contact";
           isvalidate = false;
       }
       else if(isNaN(contact))
       {
            document.getElementById('contact-error').innerHTML="Please enter valid contact";
            isvalidate = false;
       }
       else{
           document.getElementById('contact-error').innerHTML="";
       }

       if(last_name == null || last_name == "")
       {
           console.log("lassssst");
           document.getElementById('lname-error').innerHTML="*Please enter lastname";
           isvalidate = false;
       }
       else if(!isNaN(last_name))
       {
        document.getElementById('lname-error').innerHTML="Please enter valid last name";
        isvalidate = false;   
       }
       else{
           document.getElementById('lname-error').innerHTML="";
       }

       if(designation == null || designation == "")
       {
           document.getElementById('designation-error').innerHTML="*Please enter designation";
           isvalidate = false;
       }
       else if(!isNaN(designation))
       {
        document.getElementById('designation-error').innerHTML="Please enter valid designation";
        isvalidate = false;
       }
       else{
           document.getElementById('designation-error').innerHTML="";
       } 

       if(add1 == null || add1 == "")
       {
           document.getElementById('add1-error').innerHTML="*Please enter address";
           isvalidate = false;
       }
       else{
           document.getElementById('add1-error').innerHTML="";
       }

       if(zip == null || zip == "")
       {
           document.getElementById('zip-error').innerHTML="*Please enter zipcode";
           isvalidate = false;
       }
       else{
           document.getElementById('zip-error').innerHTML="";
       }

       if(add2 == null || add2 == "")
       {
           document.getElementById('add2-error').innerHTML="*Please enter address2";
           isvalidate = false;
       }
       else{
           document.getElementById('add2-error').innerHTML="";
       }

       if(email == null || email == "")
       {
           document.getElementById('email-error').innerHTML="*Please enter email";
           isvalidate = false;
       }
       else{
           document.getElementById('email-error').innerHTML="";
       }

return isvalidate;
}




       var s="";
       var clk =1;
       var c1=1;
       var c=1;
       var k=1;
       var p="";
       var q="";
       var r="";

       function priya4(){
           var table= document.getElementById('languages');
           var v1 = document.createElement('tr');
           if(k == 1)
               {
                   v1.innerHTML='<tr> <td><select name="language" id="language"> <option value="php">php</option> <option value="Python">Python</option> <option value="Android">Android</option> <option value="ios">ios</option> </select></td> <td><input type="radio" id="Beginer" name="tech" value="Beginer">Beginer <input type="radio" id="Beginer" name="tech" value="Beginer">Mediator <input type="radio" id="Expert" name="tech" value="Expert">Expert<b></td> </tr><br><br>';
                   table.append(v1);
                   k++;
                  // return false;
               }
               else if(k == 2)
               {
                   v1.innerHTML='<tr> <td><select name="language" id="language"> <option value="php">php</option> <option value="Python">Python</option> <option value="Android">Android</option> <option value="ios">ios</option> </select></td> <td><input type="radio" id="Beginer" name="tech1" value="Beginer">Beginer <input type="radio" id="Beginer" name="tech1" value="Beginer">Mediator <input type="radio" id="Expert" name="tech1" value="Expert">Expert<b></td> </tr><br><br>';
                   table.append(v1);
                   k++;
                  // return false;
               }
               else if(k == 3)
               {
                   v1.innerHTML='<tr> <td><select name="language" id="language"> <option value="php">php</option> <option value="Python">Python</option> <option value="Android">Android</option> <option value="ios">ios</option> </select></td> <td><input type="radio" id="Beginer" name="tech2" value="Beginer">Beginer <input type="radio" id="Beginer" name="tech2" value="Beginer">Mediator <input type="radio" id="Expert" name="tech2" value="Expert">Expert<b></td> </tr><br><br>';
                   table.append(v1);
                   k++;
                  // return false;
               }
               
           }
       function priya(){
           var table2= document.getElementById('education_details');
           var v2 = document.createElement('tr');
           v2.id = `tr${clk}`;
                   v2.innerHTML=`<tr> <td><b>Course Name<b></td> <td><b><select name="course" id="course"> <% for(let i=0; i<data['course'].length; i++){ %> <option value="<%=data['course'][i]['option_name']%>"> <%=data['course'][i]['option_name']%> </option> <% } %> </select><b></td> <td><b>University/Board<b></td> <td><input  type="text" name="uni" /></td> <td><b>Passing year<b></td> <td><input  type="text"  name="pass"/></td> <td><b>Percentage<b></td> <td><input  type="text" name="per"  /></td><td><input  type="button" value="-" onclick="priya_remove('tr${clk}')" /><b></td> </tr><br><br>`;
                   table2.append(v2);
                   clk++;
        }
               
        function priya_remove(id)
        {
        console.log(id,"idddd");
        document.getElementById(id).remove();
        }


       function priya1(){
           var table3= document.getElementById('experience');
           var v3 = document.createElement('tr');
       if(c <= 3)
           {
               v3.innerHTML=' <tr> <td><b>Company Name<b></td> <td><input  type="text" name="company" /></td> <td><b>Designation<b></td> <td><input  type="text" name="designation_1"  /></td> <td><b>From date*</b></td> <td><input  type="date" name="fdate" /></td> <td><b>To date*</b></td> <td><input  type="date" name="tdate" /></td> <td><input  type="button" value="+" onclick="priya1()" /><b></td></tr><br><br>';
               table3.append(v3);
               c++;
              
           }
           else{
               return false;
           
           }
       }
       function priya2(){
           var table4= document.getElementById('lang');
           var v4 = document.createElement('tr');
           if(c1 <= 3)
               {
                   v4.innerHTML='<tr> <td><b><select name="language" id="language"> <option value="hindi">Hindi</option> <option value="English">English</option> <option value="Gujarati">Gujarati</option> </select><b></td> <td><b> <input type="checkbox" id="read" name="read" value="read">Read <input type="checkbox" id="write" name="write" value="Write">Write <input type="checkbox" id="speak" name="Speak" value="Speak">Speak<b></td>  </tr><br><br>';
                   table4.append(v4);
                   c1++;
               }
               else{
                   return false;
           
               }
           }
       //

       async function getcity(state){
            console.log(state);
            console.log(state.value);
            const ans = await fetch(`http://localhost:5002/getcity?stateid=${state.value}`);
            const data = await ans.json();
            var selectcity = document.getElementById('selectcity');
            selectcity.innerHTML='';
            for(let i=0;i<data.length; i++){
               const option = new Option(data[i].city_name,data[i].city_name);
               selectcity.add(option);
            }

       }
       //
       function validateZip() {
      var zip = document.getElementById("zip").value;

      if (zip == null || zip == "") {
        document.getElementById("zip-error").innerHTML = "Please enter zipcode";
        return false;
      } else if (isNaN(zip) || zip.length > 10) {
        document.getElementById("zip-error").innerHTML =
          "Please enter valid zipcode";
        return false;
      } else {
        document.getElementById("zip-error").innerHTML = "";
      }
      return true;
    }

    function fnameValidate() {
      var fname = document.getElementById("first_name").value;
      if (fname == null || fname == "") {
        document.getElementById("fname-error").innerHTML =
          "Please enter First Name";
        return false;
      } else if (!isNaN(fname)) {
        document.getElementById("fname-error").innerHTML =
          "Please enter valid firstname";
        return false;
      } else {
        document.getElementById("fname-error").innerHTML = "";
      } 
      
    }

    function validateContact() {
      var contact = document.getElementById("contact").value;
      //contact = parseInt(contact, 10);

      if (contact == null || contact == "") {
        document.getElementById("contact-error").innerHTML = "Please enter age";
        return false;
      } else if (isNaN(contact) || contact.length > 10 || contact.length < 10) {
        document.getElementById("contact-error").innerHTML =
          "Please enter valid contact";
        return false;
      } else {
        document.getElementById("contact-error").innerHTML = "";
      }
      return true;
    }

   </script>
    <!-- <script>
   




    </script> -->
</html>