<!DOCTYPE html>
<html>
    <body>
        <table border="2">
            <tr id="tab">
                <td>stu_id</td>
                <td>Fname</td>
                <td>Lname</td>
                <td>Contact</td>
                <td>City</td>
                <td>Email</td>
                <td>Dob</td>
            </tr>

            <% for(i=0; i<10; i++){%>
            <tr>
                <td><%=data[0][i].id %></td>
                <td><%=data[0][i].fname %></td>
                <td><%=data[0][i].lname %></td>
                <td><%=data[0][i].contact %></td>
                <td><%=data[0][i].city %></td>
                <td><%=data[0][i].email %></td>
                <td><%=data[0][i].dob %></td>
            </tr>
            <% } %>
        </table>
        <br>
        <table border="2">
            <tr id="tab">
                <td>stu_id</td>
                <td>Fname</td>
                <td>Lname</td>
                <td>Contact</td>
                <td>City</td>
                <td>Email</td>
                <td>Dob</td>
            </tr>

            <% for(i=0; i<10; i++){%>
            <tr>
                <td><%=data[1][i].id %></td>
                <td><%=data[1][i].fname %></td>
                <td><%=data[1][i].lname %></td>
                <td><%=data[1][i].contact %></td>
                <td><%=data[1][i].city %></td>
                <td><%=data[1][i].email %></td>
                <td><%=data[1][i].dob %></td>
            </tr>
            <% } %>
        </table>
        <br>
        <table border="2">
            <tr id="tab">
                <td>stu_id</td>
                <td>Fname</td>
                <td>Lname</td>
                <td>Contact</td>
                <td>City</td>
                <td>Email</td>
                <td>Dob</td>
            </tr>

            <% for(i=0; i<10; i++){%>
            <tr>
                <td><%=data[2][i].id %></td>
                <td><%=data[2][i].fname %></td>
                <td><%=data[2][i].lname %></td>
                <td><%=data[2][i].contact %></td>
                <td><%=data[2][i].city %></td>
                <td><%=data[2][i].email %></td>
                <td><%=data[2][i].dob %></td>
            </tr>
            <% } %>
        </table>
        <br>
        <table border="2">
            <tr id="tab">
                <td>stu_id</td>
                <td>Fname</td>
                <td>Lname</td>
                <td>Contact</td>
                <td>City</td>
                <td>Email</td>
                <td>Dob</td>
            </tr>

            <% for(i=0; i<10; i++){%>
            <tr>
                <td><%=data[3][i].id %></td>
                <td><%=data[3][i].fname %></td>
                <td><%=data[3][i].lname %></td>
                <td><%=data[3][i].contact %></td>
                <td><%=data[3][i].city %></td>
                <td><%=data[3][i].email %></td>
                <td><%=data[3][i].dob %></td>
            </tr>
            <% } %>
        </table><br>
        <table border="2">
            <tr id="tab">
                <td>stu_id</td>
                <td>Fname</td>
                <td>Lname</td>
                <td>Contact</td>
                <td>City</td>
                <td>Email</td>
                <td>Dob</td>
            </tr>

            <% for(i=0; i<10; i++){%>
            <tr>
                <td><%=data[4][i].id %></td>
                <td><%=data[4][i].fname %></td>
                <td><%=data[4][i].lname %></td>
                <td><%=data[4][i].contact %></td>
                <td><%=data[4][i].city %></td>
                <td><%=data[4][i].email %></td>
                <td><%=data[4][i].dob %></td>
            </tr>
            <% } %>
        </table>
        <br>
        <table border="2">
            <tr id="tab">
                <td>stu_id</td>
                <td>Fname</td>
                <td>Lname</td>
                <td>Contact</td>
                <td>City</td>
                <td>Email</td>
                <td>Dob</td>
            </tr>

            <% for(i=0; i<10; i++){%>
            <tr>
                <td><%=data[5][i].id %></td>
                <td><%=data[5][i].fname %></td>
                <td><%=data[5][i].lname %></td>
                <td><%=data[5][i].contact %></td>
                <td><%=data[5][i].city %></td>
                <td><%=data[5][i].email %></td>
                <td><%=data[5][i].dob %></td>
            </tr>
            <% } %>
        </table><br>
        <table border="2">
            <tr id="tab">
                <td>stu_id</td>
                <td>Fname</td>
                <td>Lname</td>
                <td>Contact</td>
                <td>City</td>
                <td>Email</td>
                <td>Dob</td>
            </tr>

            <% for(i=0; i<10; i++){%>
            <tr>
                <td><%=data[6][i].id %></td>
                <td><%=data[6][i].fname %></td>
                <td><%=data[6][i].lname %></td>
                <td><%=data[6][i].contact %></td>
                <td><%=data[6][i].city %></td>
                <td><%=data[6][i].email %></td>
                <td><%=data[6][i].dob %></td>
            </tr>
            <% } %>
        </table><br>
        <table border="2">
            <tr id="tab">
                <td>stu_id</td>
                <td>Fname</td>
                <td>Lname</td>
                <td>Contact</td>
                <td>City</td>
                <td>Email</td>
                <td>Dob</td>
            </tr>

            <% for(i=0; i<10; i++){%>
            <tr>
                <td><%=data[7][i].id %></td>
                <td><%=data[7][i].fname %></td>
                <td><%=data[7][i].lname %></td>
                <td><%=data[7][i].contact %></td>
                <td><%=data[7][i].city %></td>
                <td><%=data[7][i].email %></td>
                <td><%=data[7][i].dob %></td>
            </tr>
            <% } %>
        </table><br>
        <table border="2">
            <tr id="tab">
                <td>stu_id</td>
                <td>Fname</td>
                <td>Lname</td>
                <td>Contact</td>
                <td>City</td>
                <td>Email</td>
                <td>Dob</td>
            </tr>

            <% for(i=0; i<10; i++){%>
            <tr>
                <td><%=data[8][i].id %></td>
                <td><%=data[8][i].fname %></td>
                <td><%=data[8][i].lname %></td>
                <td><%=data[8][i].contact %></td>
                <td><%=data[8][i].city %></td>
                <td><%=data[8][i].email %></td>
                <td><%=data[8][i].dob %></td>
            </tr>
            <% } %>
        </table><br>
        <table border="2">
            <tr id="tab">
                <td>stu_id</td>
                <td>Fname</td>
                <td>Lname</td>
                <td>Contact</td>
                <td>City</td>
                <td>Email</td>
                <td>Dob</td>
            </tr>

            <% for(i=0; i<10; i++){%>
            <tr>
                <td><%=data[9][i].id %></td>
                <td><%=data[9][i].fname %></td>
                <td><%=data[9][i].lname %></td>
                <td><%=data[9][i].contact %></td>
                <td><%=data[9][i].city %></td>
                <td><%=data[9][i].email %></td>
                <td><%=data[9][i].dob %></td>
            </tr>
            <% } %>
        </table>
        <br>
    </body>
</html>